################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToDoList/.vs/ToDoList
/ToDoList/bin/Debug/netcoreapp3.1
/ToDoList/obj
/ToDoList.Domain/bin/Debug/netstandard2.1
/ToDoList.Domain/obj
/ToDoList.Infrastructure/obj
/ToDoList.UI/bin/Debug/netcoreapp3.1
/ToDoList.UI/obj
/ToDoList.UnitTest/bin/Debug/netcoreapp3.1
/ToDoList.UnitTest/obj
/ToDoList/ToDoList.Application/obj
/ToDoList/ToDoList.Infrastructure/obj
